* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./6BM_zdjecia/background.svg");
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.page-content {
    margin-left: 220px;
    padding: 0 10%;
    text-align: right;
}

.content-section {
    min-height: 100vh;
    font-family: OpenSans, Helvetica;
    font-style: normal;
    color: rgba(204, 200, 255, 0.8);
    font-size: 13px;
}

h2 {
    padding: 40px;
    margin-top: 40px;
    font-family: OpenSans, Helvetica;
    color: #EF008E;
    font-size: 28px;
    letter-spacing: 3.8px;
    font-weight: bold;
    text-transform: uppercase;
}

.page-navigation a {
    font-family: OpenSans, Helvetica;
    color: #EF008E;
    font-size: 13px;
    letter-spacing: 6.7px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.6;
}

.page-navigation li {
    padding-bottom: 10px;
}

.page-navigation a:hover {
    font-family: Helvetica;
    opacity: 1.0;
    letter-spacing: 6.5px;
}

.page-navigation a:active {
    font-family: Helvetica;
    opacity: 1.0;
    letter-spacing: 6.7px;
}

.icon {
    padding-top: 15px;
    width: 50%;
    height: 50%;
}

.form__input {
    margin: 10px;
    padding: 12px;
    background-color: rgba(204, 200, 255, 0.1);
    border: none;
    border-radius: 3px;
    color: rgba(204, 200, 255);
    font-size: 13px;
    text-decoration: none;
    width: auto;
    height: 1.5em;
} 

.form__field button {
    padding: 7px;
    margin: 10px;
    background-color: rgba(204, 200, 255, 0.1);
    border: none;
    border-radius: 3px;
    opacity: 1;
    text-transform: uppercase;
    font-family: OpenSans, Helvetica;
    font-style: normal;
    color: #CCC8FF;
    font-size: 13px;
    text-decoration: none;
}

.content-section iframe {
    border-top: 3px solid #EF008E;
}

.about-section img {
    border-top: 3px solid #EF008E;
}

.about-section__desc {
    padding: 30px;
    padding-bottom: 40px;
    border-bottom: 3px solid #EF008E;
    background-color: #25072E;
    text-align: left;
    height: auto;
    width: 10 px;
}

.about-section__desc-header {
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.content-section .band-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.band-members img {
    margin: 10px;
    flex-grow: 1;
}

.content-section .concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.concerts img {
    border-bottom: 3px solid #EF008E;
    margin: 10px;
    width: 400px;
    min-width: 200px;
    height: auto;
    flex-grow: 1;
}

.content-section .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.gallery img {
    border-top: 3px solid #EF008E;
    margin: 10px;
    width: 400px;
    min-width: 200px;
    height: auto;
    flex-grow: 1;
}

.band-members__name {
    text-transform: uppercase;
    font-weight: bold;
    color: #DBD8FB;
}

.band-members  {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}